.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
}

.player-bar a {
    font-size: 1.1rem;
    vertical-align: middle;
}



.player-bar a,
.player-bar a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}


.player-bar .container {
    display: table;
    padding: 0;
    width: 90%;
    min-height: 100%;
}

.player-bar .control-group {
    display: table-cell;
    vertical-align: middle;
}

.player-bar .main-controls {
    width: 25%;
    text-align: left;
    padding-right: 1rem;
}

.player-bar .currently-playing {
    width: 50%;
    text-align: center;
    position: relative;
}

.player-bar .currently-playing .song-name,
.player-bar .currently-playing .artist-name,
.player-bar .currently-playing .artist-song-mobile {
    text-align: center;
    font-size: 0.75rem;
    margin: 0;
    position: absolute;
    width: 100%;
    font-weight: 300;
}

.player-bar .currently-playing .song-name,
.player-bar .currently-playing .artist-song-mobile {
    top: 1.1rem;
}




.player-bar .currently-playing .artist-name {
    bottom: 1.1rem;
}

.player-bar .currently-playing .artist-song-mobile {
    display: none;
}

.seek-control {
    position: relative;
    font-size: 0.8rem;
}

.seek-control .current-time {
    position: absolute;
    top: .75rem;
}

.seek-control .total-time {
    position: absolute;
    right: 0;
    top: 0.75rem;

}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 80%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  border-radius: 1.3px;
  border: 2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 3px;
  background: purple;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: pink;
}
input[type=range]::-moz-range-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-color: pink;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background-color: pink;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 50%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background-color: pink;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background-color: pink;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background-color: pink;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background-color: pink;
}
input[type=range]:focus::-ms-fill-upper {
  background-color: pink;

}



.player-bar .volume-control {
    width: 15%;
    text-align: right;
}

.player-bar .volume-control .icon {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: middle;
}

.player-bar .volume-control .seek-bar {
    display: inline-block;
    width: 5.75rem;
    vertical-align: middle;
}

@media (max-width: 640px) {
    .player-bar {
        padding: 1rem;
        background-color: rgba(0,0,0,0.6);
    }

    .player-bar .main-controls,
    .player-bar .currently-playing,
    .player-bar .volume-control {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .player-bar .main-controls,
    .player-bar .volume-control {
        min-height: 3.5rem;
    }

    .player-bar .currently-playing {
        min-height: 2.5rem;
    }

    .player-bar .artist-name,
    .player-bar .song-name {
        display: none;
    }

    .player-bar .currently-playing .artist-song-mobile {
        display: block;
    }
}
